#RegBox {
    margin-top: 5vh;
    background-color: #707070;
    border-radius: 28px;
    color: white;
    ;
}

#HeadReg {
    color: #00cc99;
    border-radius: 28px;
    background-color: #484848;
}

#txtName,
#txtUsername,
#txtEmail,
#txtPassword,
#txtConfPassword {
    border-radius: 28px;
}

#btnUpdatePassowrd,
#btnUpdateEmail {
    margin-top: 2vh;
    visibility: hidden;
}

.btnChanges {
    margin-top: 2vh;
    border-radius: 28px;
    background-color: #00cc99;
}

#errorMessageRegister {
    color: yellow;
}