/*

#RegBox {
    border-radius: 17px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
     
    top: 20%;
    left: 25%;
}

#btnUpdatePassowrd,
#btnUpdateEmail {
    visibility: hidden;
}

#txtName,
#txtUsername,
#txtEmail,
#txtPassword,
#txtConfPassword {
    border-radius: 25px;
    margin: 10px 5px 5px 5px;
    color: black;
}

#btnChangePhoto,
#btnOpenFile {
    margin-top: 5px;
}

.btnChanges {
    border-radius: 28px;
    background-color: #00cc99;
}

#errorMessageRegister {
    color: yellow;
}

#navnav {
    margin-right: 12vh;
}

.icon {
    padding: 20px;
    color: #00cc99;
    min-width: 50px;
    text-align: center;
    margin-left: 170px;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 5px;
}

.form-row {
    margin-bottom: 5px;
}

.left-side {
    float: left;
    text-align: center;
    width: 300px;
    height: 350px;
}

.left-side #container-photo {
    margin: auto;
}

.right-side {
    float: right;
    width: 600px;
    border-left: 1px solid;
    margin: 15px 0 15px 0;
}

.right-side #container-form {
    margin: 10px 0 10px 25px;
}

.photo {
    left: 20%;
}

#profilePicture {}
*/

#RegBox {
    margin-top: 5vh;
    background-color: #707070;
    border-radius: 28px;
    ;
}

#HeadReg {
    color: #00cc99;
    border-radius: 28px;
    background-color: #484848;
}

#txtName,
#txtUsername,
#txtEmail,
#txtPassword,
#txtConfPassword {
    border-radius: 28px;
}

#btnUpdatePassowrd,
#btnUpdateEmail {
    margin-top: 2vh;
    visibility: hidden;
}

.btnChanges {
    margin-top: 2vh;
    border-radius: 28px;
    background-color: #00cc99;
}

#errorMessageRegister {
    color: yellow;
}