#btnFilter {
    padding-left: 10vh;
    padding-right: 10vh;
    margin: 3vh;
    border-radius: 28px;
    background-color: #00cc99;
}

#btn_filter {
    border-radius: 28px;
    background-color: #00cc99;
}

.dropdown-menu {
    color: white;
}

.dropdown-item {
    justify-content: center;
}

.see {
    border-radius: 28px;
    background-color: #00cc99;
}

.see:hover {
    border-radius: 28px;
    background-color: white;
    color: #00cc99;
}