#eventInfo {
    margin-right: 10vh;
    padding: 0;
}

#header {
    border-radius: 28px;
    background-color: #484848;
}

#data,
#nome,
#edicao,
#localidade {
    color: #00cc99;
}

#info {
    background-color: #707070;
    border-radius: 28px;
    margin-top: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;
}

#td,
#slogan,
#cap,
#price {
    color: white
}

#type_dist {
    color: white;
}

.text {
    color: #00cc99;
}

#join {
    background-color: #00cc99;
    border-radius: 28px;
}

#photo {
    margin-top: 5vh;
    margin-left: 5vh;
}