#btnFilter {
    padding-left: 10vh;
    padding-right: 10vh;
    margin: 3vh;
    border-radius: 28px;
    background-color: #00cc99;
}

#btn_filter {
    border-radius: 28px;
    background-color: #00cc99;
}

.dropdown-menu {
    color: white;
}

.dropdown-item {
    justify-content: center;
}

.see {
    border-radius: 28px;
    background-color: #00cc99;
}

.see:hover {
    border-radius: 28px;
    background-color: white;
    color: #00cc99;
}

.card {
    margin-top: 3vh;
    border-radius: 17px;
}

.remove {
    border-radius: 28px;
}

#imgPoster,
#imgTshirt {
    display: none;
}

.edit {
    border-radius: 28px;
    color: black;
    background-color: #00cc99;
    display: none;
}

.edit:hover {
    border-radius: 28px;
    background-color: white;
    color: black;
}

#btnAddEvent {
    border-radius: 28px;
    background-color: #00cc99;
    color: white;
}

.modal-body {
    background-color: #484848;
    color: white;
}

#txtEventNameValue,
#txtEdition,
#txtLocalidade,
#txtDescricao,
#txtDate,
#txtTime,
#txtCapacity,
#txtPrice,
#txtTshirt,
#imgTshirt {
    margin: 2vh;
    border-radius: 28px;
}

#btnCreateEvent {
    border-radius: 28px;
    background-color: #00cc99;
}

#close {
    border-radius: 28px;
    background-color: #00cc99;
}

.modal-footer {
    background-color: #dadada;
}