.carousel-control-prev-icon {
    background-image: url(../OUTROS/previous-02.png);
    margin-left: -25vh;
    zoom: 200%;
}

.carousel-control-next-icon {
    background-image: url(../OUTROS/next-01.png);
    margin-right: -25vh;
    zoom: 200%;
}

h5 {
    margin: 3vh;
}

#about {
    border-radius: 28px;
    background-color: #00cc99;
}

#carPlusInfo {
    zoom: 120%
}