body {
    height: 100%;
    overflow: hidden;
}

.container-fluid {
    padding: 0px;
}

#Background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#HeadReg img {
    height: auto;
    width: 30vh;
}

#HeadReg {
    background-color: #484848;
    ;
    border-radius: 17px;
}

#logo {
    margin-top: 20px;
    margin-left: 60px;
}

#RegBox {
    border-radius: 17px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    /* or absolute */
    top: 30%;
    left: 40%;
}

#LogUsername,
#Logpassw {
    border-radius: 25px;
    margin: 10px 5px 5px 5px;
}

#btnCreate {
    border-radius: 28px;
    background-color: #00cc99;
}

#logo {
    margin-left: px;
}