body {
    height: 100%;
    overflow: hidden;
    padding: 0;
}

#Background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#HeadReg img {
    height: auto;
    width: 30vh;
}

#HeadReg {
    background-color: #484848;
    ;
    border-radius: 17px;
}

#logo {
    
    margin-left: 6vh;
}

#RegBox {
    border-radius: 17px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    /* or absolute */
    top: 30%;
    left: 40%;
}

#name,
#RegUsername,
#age,
#email,
#RegPassw,
#confpassw {
    border-radius: 25px;
    margin: 10px 5px 5px 5px;
}

#btnRegister {
    border-radius: 28px;
    background-color: #00cc99;
}


#errorMessage {
    color: yellow;
}

#navnav {
    margin-right: 12vh;
}

.icon {
    padding: 20px; 
    color: #00cc99; 
    min-width: 50px; 
    text-align: center;
    margin-left: 170px;
    
  }

  .input-icons i { 
    position: absolute; 
} 

.input-icons { 
    width: 100%; 
    margin-bottom: 5px; 
} 




