#logo {
    margin-top: 20px;
    margin-left: 60px;
}

#fname,
#lname,
#age,
#email,
#passw,
#confpassw {
    border-radius: 25px;
    margin: 5px
}

#btnCreate {
    border-radius: 15px;
}

#logo {
    margin-left: px;
}