body {
    background-color: #DADADA;
}

.nav-link {
    color: #00cc99;
}

.nav-link:hover {
    color: white;
}

#navnav {
    margin: 2px;
}

.dropdown-menu {
    background-color: #484848;
}

.dropdown-item {
    color: white;
}

#navbar {
    background-color: #484848;
    height: 45px;
}

#current {
    color: white;
}

#dropdown {
    margin-left: 8vh;
}

#logout {
    color: red;
}